/* body { */
/* 	background-color: #eee; */
/* } */

.loading {
	background-image: url('../../../resources/app/images/ajax-loader.gif');
	background-repeat: no-repeat;
	background-position: left center;
}