<%@ tag language="java" pageEncoding="UTF-8"%>
<%@ attribute name="pgTitle"%>
<%@ attribute name="pgSubTitle"%>
<%@ attribute name="head_area" fragment="true"%>
<%@ attribute name="body_area" fragment="true"%>
<%@ attribute name="extraScripts" fragment="true"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/functions" prefix="fn"%>
<%@ taglib uri="http://www.springframework.org/security/tags" prefix="sec"%>
<%@ taglib uri="http://www.springframework.org/tags/form" prefix="form"%>

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>${pgTitle}</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.5 -->
  <link rel="stylesheet" href="${pageContext.request.contextPath}/resources/adminlte/bootstrap/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="${pageContext.request.contextPath}/resources/adminlte/dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="${pageContext.request.contextPath}/resources/adminlte/dist/css/skins/_all-skins.min.css">
  <!-- Pace style -->
  <link rel="stylesheet" href="${pageContext.request.contextPath}/resources/adminlte/plugins/pace/pace.min.css">
  <!-- Validator Plugin Style -->
  <link rel="stylesheet" href="${pageContext.request.contextPath}/resources/validator/css/bootstrapValidator.min.css">
  <!--  App custom css -->
  <link rel="stylesheet" href="${pageContext.request.contextPath}/resources/app/css/app.css">


  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini layout-boxed">
<!-- Site wrapper -->
<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a href="${pageContext.request.contextPath}/resources/adminlte/index2.html" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>A</b>LT</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg">
			<b>ALT</b>
      </span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="navbar-custom-menu">
<!--         <ul class="nav navbar-nav"> -->
<!--           Messages: style can be found in dropdown.less -->
<!--           <li class="dropdown messages-menu"> -->
<!--             <a href="#" class="dropdown-toggle" data-toggle="dropdown"> -->
<!--               <i class="fa fa-envelope-o"></i> -->
<!--               <span class="label label-success">4</span> -->
<!--             </a> -->
<!--             <ul class="dropdown-menu"> -->
<!--               <li class="header">You have 4 messages</li> -->
<!--               <li> -->
<!--                 inner menu: contains the actual data -->
<!--                 <ul class="menu"> -->
<!--                   <li>start message -->
<!--                     <a href="#"> -->
<!--                       <div class="pull-left"> -->
<%--                         <img src="${pageContext.request.contextPath}/resources/adminlte/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image"> --%>
<!--                       </div> -->
<!--                       <h4> -->
<!--                         Support Team -->
<!--                         <small><i class="fa fa-clock-o"></i> 5 mins</small> -->
<!--                       </h4> -->
<!--                       <p>Why not buy a new awesome theme?</p> -->
<!--                     </a> -->
<!--                   </li> -->
<!--                   end message -->
<!--                 </ul> -->
<!--               </li> -->
<!--               <li class="footer"><a href="#">See All Messages</a></li> -->
<!--             </ul> -->
<!--           </li> -->
<!--           Notifications: style can be found in dropdown.less -->
<!--           <li class="dropdown notifications-menu"> -->
<!--             <a href="#" class="dropdown-toggle" data-toggle="dropdown"> -->
<!--               <i class="fa fa-bell-o"></i> -->
<!--               <span class="label label-warning">10</span> -->
<!--             </a> -->
<!--             <ul class="dropdown-menu"> -->
<!--               <li class="header">You have 10 notifications</li> -->
<!--               <li> -->
<!--                 inner menu: contains the actual data -->
<!--                 <ul class="menu"> -->
<!--                   <li> -->
<!--                     <a href="#"> -->
<!--                       <i class="fa fa-users text-aqua"></i> 5 new members joined today -->
<!--                     </a> -->
<!--                   </li> -->
<!--                 </ul> -->
<!--               </li> -->
<!--               <li class="footer"><a href="#">View all</a></li> -->
<!--             </ul> -->
<!--           </li> -->
<!--           Tasks: style can be found in dropdown.less -->
<!--           <li class="dropdown tasks-menu"> -->
<!--             <a href="#" class="dropdown-toggle" data-toggle="dropdown"> -->
<!--               <i class="fa fa-flag-o"></i> -->
<!--               <span class="label label-danger">9</span> -->
<!--             </a> -->
<!--             <ul class="dropdown-menu"> -->
<!--               <li class="header">You have 9 tasks</li> -->
<!--               <li> -->
<!--                 inner menu: contains the actual data -->
<!--                 <ul class="menu"> -->
<!--                   <li>Task item -->
<!--                     <a href="#"> -->
<!--                       <h3> -->
<!--                         Design some buttons -->
<!--                         <small class="pull-right">20%</small> -->
<!--                       </h3> -->
<!--                       <div class="progress xs"> -->
<!--                         <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"> -->
<!--                           <span class="sr-only">20% Complete</span> -->
<!--                         </div> -->
<!--                       </div> -->
<!--                     </a> -->
<!--                   </li> -->
<!--                   end task item -->
<!--                 </ul> -->
<!--               </li> -->
<!--               <li class="footer"> -->
<!--                 <a href="#">View all tasks</a> -->
<!--               </li> -->
<!--             </ul> -->
<!--           </li> -->
<!--           User Account: style can be found in dropdown.less -->
<!--           <li class="dropdown user user-menu"> -->
<!--             <a href="#" class="dropdown-toggle" data-toggle="dropdown"> -->
<%--               <img src="${pageContext.request.contextPath}/resources/adminlte/dist/img/user2-160x160.jpg" class="user-image" alt="User Image"> --%>
<%--               <span class="hidden-xs"><sec:authentication property="principal.nome"/></span> --%>
<!--             </a> -->
<!--             <ul class="dropdown-menu"> -->
<!--               User image -->
<!--               <li class="user-header"> -->
                
<%--                 <img src="${pageContext.request.contextPath}/resources/adminlte/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image"> --%>

<!--                 <p> -->
<%--                   <sec:authentication property="principal.nome"/> --%>
<!--                   <small>Cadastrado em Nov. 2012</small> -->
<!--                 </p> -->
                
<!--               </li> -->
            
<!--               Menu Footer -->
<!--               <li class="user-footer"> -->
<!--                 <div class="pull-left"> -->
<!--                   <a href="#" class="btn btn-default btn-flat">Perfil</a> -->
<!--                 </div> -->
<!--                 <div class="pull-right"> -->
<%--                   <form:form role="form" servletRelativeAction="/logout" onsubmit="return confirm('Deseja realmente sair?')"> --%>
<!-- 					 <button type="submit" class="btn btn-default btn-flat">Sair</button> -->
<%-- 				  </form:form> --%>
<!--                 </div> -->
<!--               </li> -->
<!--             </ul> -->
<!--           </li> -->
<!--           Control Sidebar Toggle Button -->
<!--           <li> -->
<!--             <a href="#" data-toggle="control-sidebar"> -->
<!--             	<i class="fa fa-gears"></i> -->
<!--             </a> -->
<!--           </li> -->
<!--         </ul> -->
      </div>
    </nav>
  </header>

  <!-- Left side column. contains the sidebar -->
  <aside class="main-sidebar">
   
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
     
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">

			<li class="${fn:contains(pageContext.request.requestURI, 'dashboard') ? 'active' : ''}">
            	<a href="${pageContext.request.contextPath}/">
            		<i class="fa fa-pie-chart"></i>
            		<span>Relatórios</span>
            	</a>
            </li>
            
            <li class="${fn:contains(pageContext.request.requestURI, 'fluxo') ? 'active' : ''}">
            	<a href="${pageContext.request.contextPath}/fluxo">
            		<i class="fa fa-money"></i>
            		<span>Caixa</span>
            	</a>
            </li>
            
             <li class="${fn:contains(pageContext.request.requestURI, 'estoque') ? 'active' : ''}">
            	<a href="${pageContext.request.contextPath}/estoque">
            		<i class="fa fa-truck"></i>
            		<span>Estoque</span>
            	</a>
            </li>
            
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    
    <!-- Content Header (Page header) -->
    <section class="content-header">

      <h1>
        ${pgTitle}
        <small>${pgSubTitle}</small>
      </h1>

    </section>

    <!-- Main content -->
    <section class="content">
	
		<jsp:include page="/showmessages.jsp" />
		<jsp:invoke fragment="body_area" />

    </section>
    <!-- /.content -->
    
  </div>
  <!-- /.content-wrapper -->

  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Versão</b> 1.0
    </div>
    <strong>Copyright &copy; 2016.</strong> Todos os diretos reservados.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>

      <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane" id="control-sidebar-home-tab">
        <h3 class="control-sidebar-heading">Recent Activity</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript::;">
              <i class="menu-icon fa fa-birthday-cake bg-red"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                <p>Will be 23 on April 24th</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript::;">
              <i class="menu-icon fa fa-user bg-yellow"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>

                <p>New phone +1(800)555-1234</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript::;">
              <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>

                <p>nora@example.com</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript::;">
              <i class="menu-icon fa fa-file-code-o bg-green"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>

                <p>Execution time 5 seconds</p>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

        <h3 class="control-sidebar-heading">Tasks Progress</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript::;">
              <h4 class="control-sidebar-subheading">
                Custom Template Design
                <span class="label label-danger pull-right">70%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript::;">
              <h4 class="control-sidebar-subheading">
                Update Resume
                <span class="label label-success pull-right">95%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-success" style="width: 95%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript::;">
              <h4 class="control-sidebar-subheading">
                Laravel Integration
                <span class="label label-warning pull-right">50%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript::;">
              <h4 class="control-sidebar-subheading">
                Back End Framework
                <span class="label label-primary pull-right">68%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

      </div>
      <!-- /.tab-pane -->
      <!-- Stats tab content -->
      <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
      <!-- /.tab-pane -->
      <!-- Settings tab content -->
      <div class="tab-pane" id="control-sidebar-settings-tab">
        <form method="post">
          <h3 class="control-sidebar-heading">General Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Report panel usage
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Some information about this general settings option
            </p>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Allow mail redirect
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Other sets of options are available
            </p>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Expose author name in posts
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Allow the user to show his name in blog posts
            </p>
          </div>
          <!-- /.form-group -->

          <h3 class="control-sidebar-heading">Chat Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Show me as online
              <input type="checkbox" class="pull-right" checked>
            </label>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Turn off notifications
              <input type="checkbox" class="pull-right">
            </label>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Delete chat history
              <a href="javascript::;" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
            </label>
          </div>
          <!-- /.form-group -->
        </form>
      </div>
      <!-- /.tab-pane -->
    </div>
  </aside>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 2.1.4 -->
<script src="${pageContext.request.contextPath}/resources/adminlte/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<!-- Bootstrap 3.3.5 -->
<script src="${pageContext.request.contextPath}/resources/adminlte/bootstrap/js/bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="${pageContext.request.contextPath}/resources/adminlte/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="${pageContext.request.contextPath}/resources/adminlte/plugins/fastclick/fastclick.min.js"></script>
<!-- AdminLTE App -->
<script src="${pageContext.request.contextPath}/resources/adminlte/dist/js/app.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="${pageContext.request.contextPath}/resources/adminlte/dist/js/demo.js"></script>
<!-- Pagination Plugin -->
<script src="${pageContext.request.contextPath}/resources/app/js/jquery.twbsPagination.min.js" type="text/javascript"></script>
<!-- Validator Plugin -->
<script src="${pageContext.request.contextPath}/resources/validator/js/bootstrapValidator.min.js" type="text/javascript"></script>
<!-- Validator Plugin i18n -->
<script src="${pageContext.request.contextPath}/resources/validator/js/language/pt_BR.js" type="text/javascript" charset="UTF-8"></script>
<!-- PACE -->
<script src="${pageContext.request.contextPath}/resources/adminlte/plugins/pace/pace.min.js"></script>

<jsp:invoke fragment="extraScripts" />

<div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content" style="display: none;"></div>
	</div>
</div>

<script type="text/javascript">
	
	$(document).ajaxStart(function() { 
		Pace.restart(); 
	});
	
	(function($) {
		
		var modal = $('#modal');
		var modal_content = modal.find('.modal-content');
		
		modal.on('shown.bs.modal', function(e) {
			
			var button = $(e.relatedTarget);
			var url = button.data('url');
			
			$.get(url, function(data) {
				modal_content.append(data);
				modal_content.slideDown();
			});
			
		});
		
		modal.on('hide.bs.modal', function(e) {
			if(e.target == this) {
				modal_content.empty().hide();
			}
		});
		
	})(window.jQuery);
	
</script>

</body>
</html>
